.countdown {
    color: white;
}

.countdown-alert {
    color: red;
}

.countdown-paused {
    color: grey;
}

.img-button-active {
    color: white;
}

.img-button-inactive {
    color: grey;
}

.simple-timer-panel-button {
    padding: 0px;
    margin: 0px;
    -natural-hpadding: 2px;
    -minimum-hpadding: 2px;
}