.countdown {
    color: white;
}

.countdown-alert {
    color: red;
}

.countdown-paused {
    color: grey;
}

.img-button-inactive {
    color: rgba(128, 128, 128, 0.2);
}

.simple-timer-panel-button {
    padding: 0px;
    margin: 0px;
    -natural-hpadding: 2px;
    -minimum-hpadding: 2px;
}

.control-button {
    width: 22px;
    height: 28px;
    border-radius: 28px;
    margin: 5px;
    padding: 5px;
    padding-left: 11px;
}
